logs
target
/.bloop
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.DS_Store
*.iml
.bloop
.metals
metals.sbt
.metals/
.metals/metals.lock.db
.metals/metals.log
.metals/metals.mv.db
